
docs/.Rproj.user/shared/notebooks/paths
docs/.Rproj.user/shared/notebooks/53F61F34-index/1/s/csetup_chunk/00000f.csv
docs/.Rproj.user/shared/notebooks/patch-chunk-names
docs/.Rproj.user/0ECDD28E/sources/session-7e4d6dc4/12AF54A3
docs/.Rproj.user/0ECDD28E/sources/session-7e4d6dc4/12AF54A3-contents
docs/.Rproj.user/0ECDD28E/sources/session-7e4d6dc4/33F034BF-contents
docs/.Rproj.user/0ECDD28E/sources/session-7e4d6dc4/33F034BF
docs/.Rproj.user/0ECDD28E/sources/session-7e4d6dc4/lock_file
docs/.Rproj.user/shared/notebooks/53F61F34-index/1/s/chunks.json
docs/.Rproj.user/0ECDD28E/pcs/windowlayoutstate.pper
docs/.Rproj.user/0ECDD28E/pcs/files-pane.pper
.Rproj.user/shared/notebooks/paths
docs/.Rproj.user/0ECDD28E/pcs/workbench-pane.pper
docs/.Rproj.user/0ECDD28E/sources/prop/INDEX
docs/.Rproj.user/shared/notebooks/53F61F34-index/1/s/ciz1jh8mh6bew/000018.metadata
docs/.Rproj.user/0ECDD28E/sources/prop/448E618C
docs/.Rproj.user/0ECDD28E/pcs/source-pane.pper
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/cyovlqwduj48x/000010.rdf
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/cyovlqwduj48x/000011.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/cyovlqwduj48x/00000f.csv
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/cyovlqwduj48x/00000f.csv
.Rproj.user/0ECDD28E/pcs/files-pane.pper
.Rproj.user/0ECDD28E/pcs/windowlayoutstate.pper
.Rproj.user/0ECDD28E/saved_source_markers
.Rproj.user/0ECDD28E/sources/per/t/AB0A0AA7
.Rproj.user/0ECDD28E/sources/per/t/D1346987-contents
.Rproj.user/0ECDD28E/sources/per/t/AB0A0AA7-contents
.Rproj.user/0ECDD28E/sources/per/u/2B7503BF-contents
.Rproj.user/0ECDD28E/sources/prop/E72403C6
.Rproj.user/0ECDD28E/sources/prop/INDEX
.Rproj.user/0ECDD28E/sources/per/t/A16434C2
.Rproj.user/0ECDD28E/sources/per/t/D1346987
.Rproj.user/0ECDD28E/sources/prop/15F0AD5B
.Rproj.user/0ECDD28E/sources/prop/F308C66C
.Rproj.user/shared/notebooks/2739E4EE-index/1/s/co8vivgku7hb8/000010.metadata
.Rproj.user/0ECDD28E/rmd-outputs
.Rproj.user/0ECDD28E/sources/per/u/2B7503BF
.Rproj.user/shared/notebooks/2739E4EE-index/1/s/co8vivgku7hb8/000010.rdf
.Rproj.user/shared/notebooks/2739E4EE-index/1/s/co8vivgku7hb8/000012.error
.Rproj.user/0ECDD28E/sources/per/t/A16434C2-contents
.Rproj.user/shared/notebooks/2739E4EE-index/1/s/co8vivgku7hb8/00000f.csv
.Rproj.user/shared/notebooks/2739E4EE-index/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/461EF09A-index/1/0ECDD28Effc8e7c2/c987gh3gxih1e/000014.rdf
.Rhistory
.Rproj.user/0ECDD28E/pcs/workbench-pane.pper
.Rproj.user/shared/notebooks/461EF09A-index/1/0ECDD28Effc8e7c2/c987gh3gxih1e/000013.csv
.Rproj.user/shared/notebooks/461EF09A-index/1/0ECDD28Effc8e7c2/c987gh3gxih1e/000015.csv
.Rproj.user/shared/notebooks/461EF09A-index/1/s/c987gh3gxih1e/00000f.csv
.Rproj.user/shared/notebooks/461EF09A-index/1/s/c987gh3gxih1e/000011.csv
.Rproj.user/shared/notebooks/461EF09A-index/1/0ECDD28Effc8e7c2/c987gh3gxih1e/000014.metadata
.Rproj.user/shared/notebooks/461EF09A-index/1/0ECDD28Effc8e7c2/chunks.json
.Rproj.user/shared/notebooks/461EF09A-index/1/s/c987gh3gxih1e/000012.error
.Rproj.user/shared/notebooks/461EF09A-index/1/s/chunks.json
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/cyovlqwduj48x/000010.metadata
.Rproj.user/shared/notebooks/461EF09A-index/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/461EF09A-index/1/0ECDD28Effc8e7c2/c987gh3gxih1e/000016.error
.Rproj.user/shared/notebooks/461EF09A-index/1/s/c987gh3gxih1e/000010.rdf
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/cyovlqwduj48x/000012.error
.Rproj.user/shared/notebooks/2739E4EE-index/1/s/co8vivgku7hb8/000011.csv
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/0ECDD28Effc8e7c2/chunks.json
docs/.Rproj.user/shared/notebooks/53F61F34-index/1/s/ciz1jh8mh6bew/000018.rdf
.Rproj.user/shared/notebooks/2739E4EE-index/1/0ECDD28Effc8e7c2/chunks.json
.Rproj.user/shared/notebooks/461EF09A-index/1/s/c987gh3gxih1e/000010.metadata
docs/.Rproj.user/shared/notebooks/53F61F34-index/1/s/ciz1jh8mh6bew/000017.csv
.Rproj.user/shared/notebooks/D5F0CFF4-Project__submission/1/s/csetup_chunk/00000f.csv
.Rproj.user/0ECDD28E/pcs/source-pane.pper
docs/.Rproj.user/shared/notebooks/53F61F34-index/1/s/ciz1jh8mh6bew/000019.csv
